<script setup lang="ts">

import {FileData} from "../FileData";
import {PropType} from "vue";
import {useBasicBehavior} from "../composables/useBasicBehavior";

const {setCurrentFileDataByIndex} = useBasicBehavior();

const props = defineProps({
  fileData: {
    type: Object as PropType<FileData>,
    required: true
  },
  index: {
    type: Number,
    required: true
  }
});

const fileDate = new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium' }).format(props.fileData.updated_at);
</script>

<template>
  <div
      class="block w-full flex space-x-4 overflow-x-hidden">
    <img
        class="h-4 my-auto"
        src="/icon-document.svg"
        alt="File icon"
    >
    <span class="flex flex-col justify-center overflow-x-hidden">
      <label class="text-left text-palette-400 px13 font-light" for="buttonNewFile">
        {{ fileDate }}
      </label>
      <button
          @click="setCurrentFileDataByIndex(index)"
          name="buttonNewFile" id="buttonNewFile"
          class="text-left bg-transparent text-white px15
                 hover:text-orange-high transition-colors
                 caret-orange-high truncate
                 border-b-[1px] border-b-transparent"
      >
        {{ fileData.title }}
      </button>
    </span>
  </div>
</template>

<style scoped>

</style>
