<script lang="ts" setup>
import {useBasicBehavior} from "../composables/useBasicBehavior";

const { currentFileData} = useBasicBehavior();

</script>

<template>
  <div class="inputFile flex space-x-4">
    <img
        class="h-4 my-auto"
        src="/icon-document.svg"
        alt="File icon"
    >
    <div class="flex flex-col justify-center w-full">
      <label class="hidden md:block text-palette-300 px13" for="inputFile">Document Name</label>
      <input
          v-model="currentFileData.title"
          class="block bg-transparent text-white px15
                           caret-orange-high
                           border-b-[1px] border-b-transparent
                           focus:outline-0 focus:border-b-white"
          spellcheck="false"
          type="text"
          name="inputFile" id="inputFile"
          placeholder="File name"
      >
    </div>
  </div>
</template>

<style scoped>

</style>
