<script setup lang="ts">

import FileName from "./FileName.vue";
import ThemeSwitcher from "./ThemeSwitcher.vue";
import {useBasicBehavior} from "../composables/useBasicBehavior";

const {filesData, addNewDocument, isMenuOpen} = useBasicBehavior();

</script>

<template>
  <aside
      class="transition-all duration-700 float-left h-screen bg-palette-800 text-white overflow-x-hidden whitespace-nowrap"
      :class="isMenuOpen ? `w-[250px]` : 'w-0'"
  >
    <div class="w-[250px] h-full flex flex-col p-6 gap-y-6">
      <h1 class="xl:hidden tracking-[0.3125rem] font-bold px15 uppercase">
        Markdown
      </h1>
      <div class="uppercase tracking-[0.125rem] text-palette-400 font-medium">
        My documents
      </div>
      <button
          @click="addNewDocument"
          class="button-orange-wide"
      >
        <span class="pr-1">+</span> New Document
      </button>

      <div class="grow custom-scrollbar overflow-y-scroll space-y-5">
        <template
            v-for="(fileData, index) in filesData"
            :key="index"
        >
          <FileName
              :file-data="fileData"
              :index="index"
          />
        </template>
      </div>
      <ThemeSwitcher/>
    </div>
  </aside>
</template>

<style scoped>
.custom-scrollbar::-webkit-scrollbar {
  width: 0.775rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-palette-800;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply border-x-[0.25rem] border-solid
  bg-palette-400 border-palette-800;
}

</style>
