<script lang="ts" setup>
import {useBasicBehavior} from "../composables/useBasicBehavior";
import ConfirmDeletion from "./ModalComponents/ConfirmDeletion.vue";
import LoginSignin from "./ModalComponents/LoginSignin.vue";

const {isModalOpen, isLoginSignInOpen} = useBasicBehavior();

function closeModal() {
  isLoginSignInOpen.value = false;
  isModalOpen.value = false;
}

</script>

<template>
  <div
      @click="closeModal"
      @mouseup.stop=""
      class="absolute z-50 top-0 left-0 bottom-0 right-0
              bg-[#15161980] dark:bg-[#7C818780]
              flex justify-center items-center
              "
  >
    <LoginSignin
        v-if="isLoginSignInOpen"
        @click.stop=""
        @mouseup.stop=""
        @mousedown.stop=""
        @action-end="closeModal"
    />

    <ConfirmDeletion
        v-else
        @click.stop=""
        @mouseup.stop=""
        @mousedown.stop=""
        @action-end="closeModal"
    />
  </div>
</template>

<style scoped>

</style>
