<script setup lang="ts">
import SeePreview from "./SeePreview.vue";

const props = defineProps({
  hiddenOnMdMoreScreen: {
    type: Boolean,
    default: false
  },
  title: {
    type: String,
    required: true
  }
});

</script>

<template>
  <section class="h-full">
    <div class="flex flex-col h-full">
      <div class="flex
                  py-2.5 px-4
                  justify-between items-center
                  bg-palette-100 dark:bg-palette-800">
        <h2 class="uppercase font-medium px14 tracking-[0.125rem]
                  text-palette-400 dark:text-palette-300">
          {{ title }}
        </h2>
        <SeePreview :class="hiddenOnMdMoreScreen ? 'md:hidden' : ''"/>
      </div>

      <slot />
    </div>
  </section>
</template>

<style scoped>

</style>
