<script lang="ts" setup>

import {useBasicBehavior} from "../composables/useBasicBehavior";
import InputFileName from "./InputFileName.vue";
import {ref} from "vue";
import {supabase} from "../supabase";

const {user, isLoginSignInOpen, isLogLoad, isModalOpen, saveFilesData, isMenuOpen} = useBasicBehavior();

const isInOpenCloseAnimation = ref(false);

let lastSetTimeout = 0;

function openCloseMenu() {
  isMenuOpen.value = !isMenuOpen.value
  isInOpenCloseAnimation.value = true;
  if (lastSetTimeout != null)
    clearTimeout(lastSetTimeout);
  lastSetTimeout = setTimeout(() => {
    isInOpenCloseAnimation.value = false;
  }, 150)
}

async function handleLogInSignInLogOutButton() {
  console.log(user);
  if (user.value) {
    isLogLoad.value = true
    let {error} = await supabase.auth.signOut()
    if (error) {
      alert(error.message)
    }
    isLogLoad.value = false
  } else {
    isLoginSignInOpen.value = !isLoginSignInOpen.value;
  }
}

</script>

<template>
  <nav class="bg-palette-700 flex items-center space-x-4 md:space-x-6 pr-4">
    <button
        @click="openCloseMenu"
        :title="isMenuOpen ? 'Close menu' : 'Open menu'"
    >
      <svg
          v-if="!isMenuOpen"
          class="open-close-button"
          :class="isInOpenCloseAnimation ? '' : 'open-clone-button-is-hoverable'"
          fill="#FFF" viewBox="0 0 30 18"
          xmlns="http://www.w3.org/2000/svg">
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M0 0h30v2H0zM0 8h30v2H0zM0 16h30v2H0z"/>
        </g>
      </svg>

      <svg
          v-else
          class="open-close-button"
          :class="isInOpenCloseAnimation ? '' : 'open-clone-button-is-hoverable'"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M2.1.686 23.315 21.9l-1.415 1.415L.686 2.1z"/>
          <path d="M.686 21.9 21.9.685l1.415 1.415L2.1 23.314z"/>
        </g>
      </svg>
    </button>
    <h1 class="hidden xl:block tracking-[0.3125rem] font-bold px15 uppercase text-palette-50">
      Markdown
    </h1>
    <div class="hidden xl:block border-l-[1px] border-l-palette-400 h-[50%]"></div>
    <InputFileName
        class="grow"
    />
    <div class="hidden md:block grow">
    </div>
    <button
        @click="isModalOpen = !isModalOpen"
        title="Delete current markdown"
    >
      <svg class="fill-[#7C8187] hover:fill-orange-high transition-all" width="18" height="20"
           xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7 16a1 1 0 0 0 1-1V9a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1ZM17 4h-4V3a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v1H1a1 1 0 1 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V6h1a1 1 0 0 0 0-2ZM7 3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1H7V3Zm7 14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6h10v11Zm-3-1a1 1 0 0 0 1-1V9a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"/>
      </svg>
    </button>

    <button
        @click="saveFilesData"
        class="button-orange"
        title="Save all changes"
    >
      <svg class="inline" fill="#FFF" width="17" height="17" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M15.91 5.931 10.575.598A.889.889 0 0 0 10.29.41.969.969 0 0 0 9.945.34H2.834A2.667 2.667 0 0 0 .167 3.007v10.666a2.667 2.667 0 0 0 2.667 2.667H13.5a2.667 2.667 0 0 0 2.667-2.667v-7.11a.889.889 0 0 0-.258-.632ZM5.5 2.118h3.556v1.778H5.5V2.118Zm5.334 12.444H5.5v-2.666c0-.491.398-.89.89-.89h3.555c.49 0 .889.399.889.89v2.666Zm3.555-.889c0 .491-.398.89-.889.89h-.889v-2.667a2.667 2.667 0 0 0-2.666-2.667H6.389a2.667 2.667 0 0 0-2.666 2.667v2.666h-.89a.889.889 0 0 1-.888-.889V3.007c0-.491.398-.89.889-.89h.889v2.667c0 .491.398.89.888.89h5.334c.49 0 .889-.399.889-.89V3.371l3.555 3.556v6.746Z"/>
      </svg>
      <span
          class="hidden md:inline align-middle pl-2 text-palette-50 px15"
      >
              Save Changes
      </span>
    </button>
    <button
        @click="handleLogInSignInLogOutButton"
        class="button-orange"
        :disabled="isLogLoad"
    >
      <span
          class="align-middle pl-2 text-palette-50 px15"
      >
        <template v-if="isLogLoad">
          Loading ...
        </template>
        <template
            v-else-if="user"
        >
          Log out
        </template>
        <template
            v-else
        >
          Login - Sign in
        </template>
      </span>
    </button>
  </nav>
</template>

<style scoped>

.open-close-button {
  @apply h-[3.5rem] xl:h-[4.5rem] w-[3.5rem] xl:w-[4.5rem] px-4 xl:px-5
  bg-palette-600
  transition-all;
}

.open-clone-button-is-hoverable {
  @apply hover:bg-orange-high;
}

</style>
