<script lang="ts" setup>
import {useBasicBehavior} from "../../composables/useBasicBehavior";

const emit = defineEmits<{
  (e: 'actionEnd'): void
}>();

const { deleteCurrentFileData} = useBasicBehavior();

function confirmDeletion() {
  deleteCurrentFileData();
  emit('actionEnd')
}

</script>

<template>
  <div
      class="max-w-[343px]
               bg-white dark:bg-palette-800
               p-6 rounded-lg space-y-4
              "
  >
    <div class="text-preview-h4">
      Delete this document ?
    </div>
    <p class="px14 text-palette-400 dark:text-palette-300 font-roboto-slab leading-6">
      Are you sure you want to delete the ‘welcome.md’ document and its contents? This action cannot be reversed.
    </p>
    <button
        @click="confirmDeletion"
        class="button-orange-wide"
    >
      Confirm & Delete
    </button>
  </div>
</template>

<style scoped>

</style>
