<script setup lang="ts">
import {ref} from 'vue'
import {supabase} from '../../supabase'
import {ApiError} from "@supabase/supabase-js";
import {useBasicBehavior} from "../../composables/useBasicBehavior";

const emit = defineEmits<{
  (e: 'actionEnd'): void
}>();

const {isLogLoad} = useBasicBehavior();

const email = ref('')
const password = ref('')

const isLogin = ref(true);

const handleSignUp = async () => {
  isLogLoad.value = true
  const {error}: { error: ApiError | null } = await supabase.auth.signUp({email: email.value, password: password.value})
  isLogLoad.value = false

  if (error) {
    alert(error.message)
  } else {
    emit('actionEnd')
  }
};

const handleLogin = async () => {
  isLogLoad.value = true
  const {error} = await supabase.auth.signIn({email: email.value, password: password.value})
  isLogLoad.value = false
  if (error) {
    alert(error.message)
  } else {
    emit('actionEnd')
  }
}

const handle = () => {
  if (isLogin.value)
    handleLogin();
  else
    handleSignUp()
}

</script>

<template>

  <div
      class="max-w-[343px]
               bg-white dark:bg-palette-800
               p-6 rounded-lg space-y-4
              "
  >
    <div class="text-preview-h4">
      {{ isLogin ? 'Login' : 'Sign up' }}
    </div>
    <p class="px14 text-palette-400 dark:text-palette-300 font-roboto-slab leading-6">
      <span v-if="isLogin">Dont have an account ?</span>
      <span v-else>Already have an account ?</span>
      click
      <button class="inline-block underline hover:text-blue-400"
              @click="isLogin = !isLogin"
      >
        here
      </button>
    </p>
    <form class="space-y-4" @submit.prevent="handle">
      <input
          class="block bg-transparent text-white px15
                      caret-orange-high
                      border-b-[1px] border-b-transparent
                      focus:outline-0 focus:border-b-white"
          type="email"
          placeholder="Your email"
          v-model="email"
      />
      <div>
        <input
            class="block bg-transparent text-white px15
                      caret-orange-high
                      border-b-[1px] border-b-transparent
                      focus:outline-0 focus:border-b-white"
            type="password"
            placeholder="password"
            v-model="password"
        />
      </div>
      <div>
        <button
            type="submit"
            class="button-orange-wide"
            :disabled="isLogLoad"
        >
          {{ isLogLoad ? 'Loading ...' : isLogin ? 'Login' : 'Sign up' }}
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>

</style>
