<script setup lang="ts">
import ThemeSwitcher from "./components/ThemeSwitcher.vue";
import InputFileName from "./components/InputFileName.vue";

const colorsData = [
  {
    hex: "#151619",
    rgb: "21, 22, 25",
    hsl: "225°, 9%, 9%",
    tailwindPalette: "bg-palette-900"
  },
  {
    hex: "#1D1F22",
    rgb: "29, 31, 34",
    hsl: "216°, 8%, 12%",
    tailwindPalette: "bg-palette-800"
  },
  {
    hex: "#2B2D31",
    rgb: "43, 45, 49",
    tailwindPalette: "bg-palette-700"
  },
  {
    hex: "#3539F",
    rgb: "53, 57, 63",
    hsl: "216°, 9%, 23%",
    tailwindPalette: "bg-palette-600"
  },

  {
    hex: "#5A6069",
    rgb: "90, 96, 105",
    hsl: "216°, 8%, 38%",
    tailwindPalette: "bg-palette-500"
  },
  {
    hex: "#7C8187",
    rgb: "124, 129, 135",
    hsl: "213°, 4%, 51%",
    tailwindPalette: "bg-palette-400"
  },
  {
    hex: "#C1C4CB",
    rgb: "193, 196, 203",
    hsl: "222°, 9%, 78%",
    tailwindPalette: "bg-palette-300"
  },
  {
    hex: "#E4E4E4",
    rgb: "228, 228, 228",
    hsl: "0°, 0%, 89%",
    tailwindPalette: "bg-palette-200"
  },

  {
    hex: "#F5F5F5",
    rgb: "245, 245, 245",
    hsl: "0°, 0%, 96%",
    tailwindPalette: "bg-palette-100"
  },
  {
    hex: "#FFFFFF",
    rgb: "255, 255, 255",
    hsl: "0°, 0%, 100%",
    tailwindPalette: "bg-palette-50"
  },
  {
    hex: "#E46643",
    rgb: "228, 102, 67",
    hsl: "13°, 75%, 58%",
    tailwindPalette: "bg-orange-high"
  },
  {
    hex: "#F39765",
    rgb: "243, 151, 101",
    hsl: "21°, 86%, 67%",
    tailwindPalette: "bg-orange-light"
  }
]
</script>

<template>
  <main class="design-system space-y-8">
    <div class="space-y-1">
      <h2 class="tracking-[5px] text-palette-400 uppercase font-commissioner font-bold">Markdown</h2>
      <h1 class="font-roboto-slab font-bold text-[2rem]">Design System</h1>
    </div>
    <section class="design-system__section">
      <h3 class="design-system__section__title">Colors</h3>
      <div class="grid grid-cols-[repeat(auto-fit,_minmax(12rem,1fr))] gap-x-8 gap-y-8">
        <div
            v-for="colorData in colorsData"
            :key="colorData.hex"
            class=""
        >
          <div
              class="h-16 rounded-lg"
              :class="[colorData.tailwindPalette]"
          />
          <div class="pt-1 text-palette-900">
            <p class="flex justify-between">
              <span class="text-palette-400">HEX</span> {{ colorData.hex }}
            </p>
          </div>
          <div class="text-palette-900">
            <p class="flex justify-between">
              <span class="text-palette-400">RGB</span> {{ colorData.rgb }}
            </p>
          </div>
          <div class="text-palette-900">
            <p class="flex justify-between">
              <span class="text-palette-400">HSL</span> {{ colorData.hsl }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="design-system__section">
      <h3 class="design-system__section__title">
        Typography
      </h3>
      <div class="flex justify-evenly gap-x-16 flex-wrap">
        <div class="space-y-6">
          <div>
            <p class="text-palette-400">Roboto Regular - 0.9375rem (15px)</p>
            <p class="text-app-heading-m">In App Heading (M)</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Regular - 14px - 2px Char Spacing</p>
            <p class="text-app-heading-s">In App Heading (S)</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Light - 13px</p>
            <p class="text-app-body-s">In App Body (S)</p>
          </div>
        </div>
        <div class="space-y-6">
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 32px</p>
            <p class="text-preview-h1">Preview H1</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Light - 28px</p>
            <p class="text-preview-h2">Preview H2</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 24px</p>
            <p class="text-preview-h3">Preview H3</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 20px</p>
            <p class="text-preview-h4">Preview H4</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 16px</p>
            <p class="text-preview-h5">Preview H5</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 14px</p>
            <p class="text-preview-h6">Preview H6</p>
          </div>
        </div>
        <div class="space-y-6 max-w-[20rem]">
          <div>
            <p class="text-palette-400">Roboto Slab Regular - 14px - 24px Line Spacing</p>
            <p class="text-b-normal">Preview Paragraph - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
              vel, nisi.</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Slab Bold - 14px - 24px Line Spacing</p>
            <p class="text-b-bold">Preview Paragraph Bold - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
              vel, nisi.</p>
          </div>
          <div>
            <p class="text-palette-400">Roboto Mono Regular - 14px - 24px Line Spacing</p>
            <p class="text-b-mono">Markdown - Preview Paragraph Bold - Lorem ipsum dolor sit amet, consectetuer
              adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
              dapibus id, mattis vel, nisi.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="design-system__section">
      <h3 class="design-system__section__title">
        Interactive Components
      </h3>
      <div class="flex justify-evenly">
        <div class="flex flex-col items-center space-y-8">
          <button class="button-orange-wide">
            <img
                class="inline-block pr-1 h-4"
                src="/icon-save.svg"
                alt="Save icon"
            > Save Changes
          </button>
          <div class="text-palette-400">
            Button - Idle/Hover
          </div>
        </div>

        <div class="flex flex-col items-center space-y-8">
          <button class="block w-full px-4 py-2 text-white rounded-md px15
                         bg-orange-high hover:bg-orange-light">
            <span class="pr-1">+</span> New Document
          </button>
          <div class="text-palette-400">
            Button - Idle/Hover
          </div>
        </div>

        <div class="flex flex-col items-center space-y-8">
          <div class="block px-4 py-2 bg-palette-700 py-8 px-8">
            <ThemeSwitcher/>
          </div>
          <div class="text-palette-400">
            Switch Toggle
          </div>
        </div>

        <div class="flex flex-col items-center space-y-8">
          <div class="block px-4 py-2 bg-palette-700 py-8 px-8">
            <InputFileName/>
          </div>
          <div class="text-palette-400">
            File Rename
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<style scoped>

main {
  min-height: 100vh;
  max-width: min(90%, 80em);
  margin-inline: auto;
  margin-bottom: 10rem;
}
</style>
