<script setup lang="ts">
import MarkdownIt from "markdown-it";
import hljs from "highlight.js";
import {computed, ref} from "vue";
import {useBasicBehavior} from "./composables/useBasicBehavior";
import SectionPannel from "./components/SectionPannel.vue";
import './hljs-github-syntax.css';
import Menu from "./components/Menu.vue";
import TopBar from "./components/TopBar.vue";
import Modal from "./components/Modal.vue";

const {
  user,
  isLoginSignInOpen,
  isModalOpen,
  isSeePreview,
  currentFileData,
  filesData,
  currentFileDataIndex,
  addNewDocument,
  saveFilesData,
  isMenuOpen
} = useBasicBehavior();

const md = new MarkdownIt({
  html: true,
  linkify: true,
  typographer: true,
  highlight: function (str: string, lang: string): string {
    if (lang && hljs.getLanguage(lang)) {
      try {
        return '<pre class="hljs"><code>' +
            hljs.highlight(str, {language: lang, ignoreIllegals: true}).value +
            '</code></pre>';
      } catch (__) {
      }
    }

    return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
  }
})

const htmlResult = computed(() => {
  return md.render(currentFileData.value.content);
});


</script>

<template>
  <div class="relative h-screen min-h-screen overflow-x-hidden">
    <Modal v-if="isModalOpen || isLoginSignInOpen"/>
    <div class="h-full w-[calc(100vw_+_250px)]">
      <Menu/>
      <div class="inline-block h-screen w-screen flex flex-col">
        <TopBar/>
        <main class="overflow-y-hidden overflow-x-hidden h-full
                    dark:bg-palette-900
                    md:flex
                    ">
          <SectionPannel
              v-if="isSeePreview"
              class="block w-full"
              title="Preview"
          >
            <div
                class="custom-scrollbar h-full w-full
                p-4
                overflow-y-scroll overflow-x-hidden
                dark:bg-palette-900
                max-w-[80ch] mx-auto
                prose prose-light dark:prose-dark
                "
                v-html="htmlResult"
            >
            </div>
          </SectionPannel>

          <SectionPannel
              v-else
              class="block md:w-1/2"
              title="Markdown"
              :hidden-on-md-more-screen="true"
          >
              <label class="sr-only" for="raw-markdown">Raw Markdown</label>
              <textarea
                  class="custom-scrollbar block text-b-mono h-full p-4 dark:bg-palette-900 outline-0 resize-none"
                  spellcheck="false"
                  v-model="currentFileData.content"
                  name="raw-markdown" id="raw-markdown"
              >
              </textarea>
          </SectionPannel>
          <SectionPannel
              v-if="!isSeePreview"
              class="hidden md:block md:w-1/2"
              title="Preview"
          >
            <div
                class="custom-scrollbar h-full w-full p-4
                overflow-y-scroll overflow-x-scroll
                dark:bg-palette-900
                max-w-full
                prose prose-light dark:prose-dark
                "
                v-html="htmlResult"
            >
            </div>
          </SectionPannel>
        </main>
      </div>
    </div>
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
