@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@700&family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-roboto;
    }
}

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 0.775rem;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-palette-50 dark:bg-palette-900;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply border-x-[0.25rem] border-solid
        bg-palette-300 border-palette-50
        dark:bg-palette-400 dark:border-palette-900;
    }


    .px13 {
        @apply text-[0.8125rem];
    }

    .px14 {
        @apply text-[0.875rem];
    }

    .px15 {
        @apply text-[0.9375rem];
    }

    .design-system__section__title {
        @apply text-palette-600 text-3xl font-roboto-slab font-light pb-4;
    }

    .text-app-heading-m {
        @apply text-palette-600 text-[0.9375rem];
    }

    .text-app-heading-s {
        @apply text-palette-600 text-[0.875rem];

        letter-spacing: 0.125rem;
        font-weight: 500;
    }

    .text-app-body-s {
        @apply text-palette-600 text-[0.8125rem];

        font-weight: 300;
    }

    .text-preview-h1, .md-result h1 {
        @apply text-palette-600 dark:text-palette-50 text-[2rem] font-bold font-roboto-slab;
    }

    .text-preview-h2, .md-result h2 {
        @apply text-palette-600 dark:text-palette-50 text-[1.75rem] font-light font-roboto-slab;
    }

    .text-preview-h3, .md-result h3 {
        @apply text-palette-600 dark:text-palette-50 text-[1.5rem] font-bold font-roboto-slab;
    }

    .text-preview-h4, .md-result h4 {
        @apply text-palette-600 dark:text-palette-50 text-[1.25rem] font-bold font-roboto-slab;
    }

    .text-preview-h5, .md-result h5 {
        @apply text-palette-600 dark:text-palette-50 text-[1rem] font-bold font-roboto-slab;
    }

    .text-preview-h6, .md-result h6 {
        @apply text-orange-high text-[0.875rem] font-bold font-roboto-slab;
    }

    .text-b-normal {
        @apply text-[0.875rem] text-palette-600 font-roboto-slab;
        line-height: 1.5rem;
    }

    .text-b-bold {
        @apply text-[0.875rem] text-palette-600 font-roboto-slab font-bold;
        line-height: 1.5rem;
    }

    .text-b-mono {
        @apply text-[0.875rem] text-palette-600 font-roboto-mono dark:text-palette-300;
        line-height: 1.5rem;
    }

    .button-orange {
        @apply block px-4 py-2 text-white rounded-md px15
        bg-orange-high hover:bg-orange-light transition-all;
    }

    .button-orange-wide {
        @apply button-orange w-full;
    }

}
